.subscriptions {
  .action-buttons {
    display: flex;
    padding: 10px 0;
  }
  .channels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .channel {
      margin: 10px;
      width: 30%;

      .mat-card-actions {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
