.search-channel {
  height: 100%;

  .dialog-header {
    position: relative;

    .close-button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .mat-dialog-content {
    height: 100%;

    .mat-form-field {
      width: 100%;
    }

    .loader {
      display: flex;
      justify-content: center;
    }
    .mat-list-item {
      &:hover {
        background: #f5f5f5;
      }

      ::ng-deep .mat-list-item-content {
        padding: 0;

        .channel {
          width: 100%;
          display: flex;
          align-items: center;

          &-avatar {
            margin: 0 5px;
          }

          &-fullname {
            margin: 0 5px;
            user-select: none;
          }
        }
      }
    }
  }
}
