@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./twitter";

html {
  height: 100%;
}

.clickable {
  cursor: pointer;
}

.one-line-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.message {
  display: flex;
  justify-content: center;
}

.danger {
  color: rgb(233, 30, 99);
}

.loader {
  display: flex;
  justify-content: center;
}

.mat-raised-button {
  margin: 0;
}

button {
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }
}
